Body {
    background-color: #f0f5f5;
    }
    
    Button {
    background-color: #000000;
    }
    
    Div {
    border-color: #000000;
    border-style: solid;
    height: 300px;
    width: 600px;
    color: #293d3d;
    font-weight: 40px;
    }