Body {
    background-color: #f0f3f3;
    width: 400px;
    margin: 4% auto;
    font-family: sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
}
button {
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
}

/*
Div {
border-color: #000000;
border-style: solid;
height: 300px;
width: 600px;
color: #293d3d;
font-weight: 40px;
}
*/
.calculator {
    background-color: rgb(241, 241, 241);
    padding: 20px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.display {
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    width: 350px; 
    /*overflow: hidden;*/
    white-space: nowrap;
    
}

.display:hover {
    border: 1px solid #bbb;
}

.operator {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #ddd;
}

.operator:hover {
    background-color: #ddd;
    border-color: #aaa;
}

.operator:active {
    font-weight: bold;
}

h5
{
	text-align: center;	
}

button:hover {
    background-color: #f1f1f1;
    border-color: #bbb;
}

button:active {
    font-weight: bold;
}

#equalbutton {
    display: inline-block;
    text-align: center;
    padding: 10px 40.4%;
    margin: 10px 6px 10px 0;
    cursor: pointer;
    color: #FFF;
    background-color: #4d90fe;
}

#equalbutton:hover {
    background-color: #307CF9;
    border-color: #1857BB;
}

#equalbutton:active {
    font-weight: bold;
}